* {
	margin: 0;
	padding: 0;
}

.container {
	font-family: "微软雅黑";
	font-size: 14px;
}

form {
	margin: 50px 0 0 40px;
	font-size: 20px;
}

form label {
	font-weight: bold;
	width: 10%;
	float: left;
	text-align: right;
	margin-right: 30px;
}

form input[type='text'] {
	height: 40px;
	width: 400px;
	border: 0;
	outline: 0;
	border: 2px solid #DCDCDC;
	border-radius: 6px;
	margin-right: 10px;
}

.res {
	display: none;
	color: #DCDCDC;
	margin: 10px 0 0 200px;
}

#submit {
	width: 100px;
	height: 50px;
	background-color: blue;
	border: 0;
	outline: 0;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border-radius: 6px;
	color: #fff; 
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
	position: relative;
	left: 37%;
}

