[data-dpr="1"] body,body {
	font-size:13px
}
body>header,nav ul {
	line-height:1.15rem
}
.labels ul li,nav ul li {
	-webkit-box-flex:1;
	text-align:center
}
.columns ul li,.labels ul li,body>header h1,nav ul li {
	text-align:center
}
.articles article ul.imgs,.columns ul,.labels ul,article.module section ul,nav ul {
	list-style-type:none;
	padding:0;
	margin:0
}
.columns ul li figure img,.labels ul li figure img {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto
}
.articles article,.labels,article.module {
	padding-left:.3rem;
	padding-right:.3rem
}
body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#F5F5F5;
	color:#333
}
[data-dpr="2"] body {
	font-size:26px
}
[data-dpr="3"] body {
	font-size:39px
}
body>header {
	height:1.15rem;
	background-color:#91D4DA;
	position:relative
}
.labels,nav {
	background-color:#fff
}
body>header a,body>header h1 {
	color:#fff
}
[data-dpr="1"] body>header a,[data-dpr="1"] body>header h1 {
	font-size:16px
}
[data-dpr="2"] body>header a,[data-dpr="2"] body>header h1 {
	font-size:32px
}
[data-dpr="3"] body>header a,[data-dpr="3"] body>header h1 {
	font-size:48px
}
body>header a.goback {
	position:absolute;
	left:.3rem;
	top:0;
	bottom:0;
	margin:auto;
	text-decoration:none
}
body>header a.goback img {
	vertical-align:sub
}
[data-dpr="1"] body>header a.goback img {
	height:20px
}
[data-dpr="2"] body>header a.goback img {
	height:40px
}
[data-dpr="3"] body>header a.goback img {
	height:60px
}
body>header h1 {
	margin:0
}
figure {
	margin:0;
	padding:0;
	display:block
}
.body {
	max-width:10rem;
	margin:0 auto
}
.body>.banner {
	width:100%;
	display:block
}
nav {
	height:1.15rem
}
nav ul {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	height:100%
}
nav ul li {
	-webkit-flex:1;
	flex:1;
	color:#656565;
	display:inline-block
}
.columns ul,.labels ul {
	display:-webkit-box;
	display:-webkit-flex
}
nav ul li.active {
	border-bottom:.1rem solid #91D4DA
}
.labels ul,article.module header {
	border-bottom:.05rem solid #ECECEC
}
.labels ul {
	display:flex
}
.labels ul li {
	-webkit-flex:1;
	flex:1;
	padding-top:.45rem;
	padding-bottom:.5rem
}
.labels ul li figure {
	width:1.2rem;
	height:1.2rem;
	margin:0 auto;
	background:#00C7D6;
	-webkit-border-radius:100%;
	border-radius:100%;
	position:relative
}
.labels ul li figure img {
	width:.61rem;
	height:.8rem
}
.labels ul li p {
	padding-top:.45rem;
	margin:0
}
.columns {
	background-color:#fff;
	width:100%;
	overflow:hidden;
	padding-top:.4rem;
	padding-bottom:.4rem
}
.columns ul {
	display:flex
}
.columns ul li {
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1
}
.columns ul li:not(:last-child) {
	border-right:.05rem solid #ECECEC
}
.columns ul li figure {
	height:2rem;
	position:relative
}
.columns ul li figure img {
	width:1.7rem
}
[data-dpr="1"] .columns ul li h2 {
	font-size:18px
}
[data-dpr="2"] .columns ul li h2 {
	font-size:36px
}
[data-dpr="3"] .columns ul li h2 {
	font-size:54px
}
.columns ul li h3 {
	color:#5B5B5B
}
[data-dpr="1"] .columns ul li h3 {
	font-size:14px
}
[data-dpr="2"] .columns ul li h3 {
	font-size:28px
}
[data-dpr="3"] .columns ul li h3 {
	font-size:42px
}
article.module {
	background-color:#fff;
	margin-top:.35rem
}
article.module header {
	height:1.2rem;
	line-height:1.2rem;
	margin-bottom:.4rem
}
[data-dpr="1"] article.module header {
	font-size:16px
}
[data-dpr="2"] article.module header {
	font-size:32px
}
[data-dpr="3"] article.module header {
	font-size:48px
}
article.module section {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:stretch;
	-webkit-align-items:stretch;
	align-items:stretch;
	padding-bottom:.3rem
}
article.module section img {
	width:2.43rem;
	height:2.27rem;
	border:.02rem solid #FEB832
}
article.module section ul {
	width:6.55rem;
	height:2.27rem;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-align-content:space-between;
	align-content:space-between
}
article.module section li {
	width:3.2rem;
	height:1rem;
	line-height:1rem;
	text-align:center;
	background-color:#F8F8F8
}
.articles {
	background-color:#fff;
	margin-top:.35rem
}
.articles article {
	border-bottom:.05rem solid #ECECEC;
	padding-top:.25rem;
	padding-bottom:.25rem;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex
}
.articles article>img {
	width:2.8rem;
	height:2rem;
	margin-right:.3rem
}
.articles article section {
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	flex-direction:column
}
.articles article header {
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1
}
[data-dpr="1"] .articles article header {
	font-size:16px
}
[data-dpr="2"] .articles article header {
	font-size:32px
}
[data-dpr="3"] .articles article header {
	font-size:48px
}
.articles article aside {
	color:#C6C6C6
}
[data-dpr="1"] .articles article aside {
	font-size:13px
}
[data-dpr="2"] .articles article aside {
	font-size:26px
}
[data-dpr="3"] .articles article aside {
	font-size:39px
}
.articles article ul.imgs {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	margin-top:.2rem
}
.articles article ul.imgs li {
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	margin:.04rem
}
.articles article ul.imgs li img {
	width:100%
}
